@import 'colores.scss';
@import 'fuentes.scss';
@import '_fuentes-responsive.scss';

@media screen and (max-width: 1130px) {
    
    * {
        padding: 0;
        margin: 0;
    }
    
    html {
        height: 100%;
    }

    h2 {
        font-size: $titulos-secundarios;
    }

    h3 {
        font-size: $titulos-terceros;
    }


    #principal-carousel-logo {
        display: none;
    }

    #body-header {
        display: none;
    }

    .navbar-responsive {

        position: fixed;
        z-index: 10;
        width: 100%;
        display: contents;

        a {
            margin-left: 10px;
            font-style: normal;
            text-decoration: none;
            padding: 5px;
            font-family: $fuente;
            font-size: $titulo-navbar;
            color: $color-fuente;
        }

        #navbar-responsive-color{
            background-color: $color-navbar-footer !important;
        }

        #navbar-responsive-collapse {
            background-color: $color-navbar-footer !important;
        }
    }

    .principal-contacto {

        #contacto-principal-carousel {
            position: absolute;
            display: inline-block !important;
            padding-bottom: 100px !important;
        }
    }

    #footer-responsive {
        display: block;
        
        #footer-responsive-yes {
            display: contents;
        }

        #footer-responsive-none{
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {
    .principal-contacto {
        #contacto-principal-carousel {
            position: absolute;
            display: inline-block !important;
            padding-bottom: 50px !important;

            h2 {
                font-size: $responsive-titulos-secundarios !important;
            }
        }

        .principal.formulario {
            padding: 50px;
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                font-size: $responsive-titulos-terceros !important;
            }
        }

        .principal.redes {
            display: flex;
            justify-content: center;
            padding: 50px !important;

            #principal-redes-grilla {

                #responsive-titulos {
                        font-size: $responsive-titulos-terceros !important;
                }
            }
        }
    }
}

@media screen and (max-width: 280px) {
    .principal-contacto {
        #contacto-principal-carousel {
            position: absolute;
            display: inline-block !important;
            padding-bottom: 0px !important;

            h2 {
                font-size: $responsive-titulos-secundarios !important;
            }
        }
    }

    .map-responsive {
        padding: 30px;
    }
}